.login-container {
    background-image: url("../../../image/2795232-ai.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-form-container {
    background-color: white;
    width: 30%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.hr-or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
hr {
    width: 50%;
    height: 1px;
    background-color: black;
}
