.navigation-container {
    width: 25%;
    height: 100vh;
    border-right: 1px solid;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    background-color: #ededed;
    padding: 3px 10px;
}
